<header>
  <div class="logo">
    <img style="filter: invert(100%);" src="/images/logo.png" alt="Logo">
    <h1>Shortly</h1>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
