<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Shortly - A simple and fast URL shortener."
    />
    <meta
      name="keywords"
      content="URL shortener, shorten URL, web development, Shortly"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title>About - Shortly</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/png" />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/header' ) %>

    <main class="about">
      <h2>About Us</h2>
      <p>
        Shortly is a simple and fast URL shortener. We help you share long links
        in a compact and beautiful way.
      </p>
      <p>Powered by Node.js, Express, MongoDB, and EJS.</p>
      <a target="_blank" href="http://tushar-tushar.web.app"
        >Author's official website</a
      >
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
