<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h3>this is the about page , coming from ejs file , thank you      </h3>
     <br>
     <div style="color: green;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus tenetur error quasi ad laborum similique temporibus, vero voluptatibus, modi delectus voluptates. Provident excepturi debitis voluptates harum. Voluptatibus voluptas tempore cumque quis suscipit.</div>
</body>
</html>